body {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  background-color: #141414;
}
* {
  box-sizing: border-box;
}

#board {
  color: #f4f4f4;
}

h1 {
  color: #f4f4f4;
}

#row-1,
#row-2,
#row-3 {
  margin: 0.5rem;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(244, 244, 244, 0.7);
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  line-height: 50px;

  font-size: 3rem;
}

.cell:hover {
  cursor: pointer;
  border-color: rgba(244, 244, 244, 1);
}
